body {
  background-color: #f4f6ff;
}

.container-fluid {
  max-height: 400px;
  padding: 0;
}

.navbar-nav {
  margin: 0 4% 0 4%;
}

h2 {
  font-size: 1.2rem;
}

.product-grid-header {
  padding: 1%;
  background-color: #dddddd;
  border-radius: 8px 8px 0 0;
  margin: 8px 8px 0;
}

.product-grid {
  margin: 0 8px 8px;
  padding: 1%;
  border: 1px solid;
  border-color: #dddddd;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}

.card {
  background-color: #fff;
  text-align: center;
}

.card-img-top {
  background-color: #fff;
  width: inherit;
  height: 165px;
}

.card-body {
  padding-top: 0;
}

.product-name {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.product-price {
  margin-bottom: 0;
}

.advertisements-imgs {
  max-height: 225px;
  margin: 16px 8px 16px 8px;
}

.add-block {
  text-align: center;
  padding: 0;
}

.add-img {
  width: auto;
  height: inherit;
}

.footer-section-block {
  margin: 0 5%;
  padding: 3% 0;
}

.footer-section {
  text-align: center;
}

.section-header {
  color: rgba(255,255,255,.5);
  margin-bottom: 2%;
}

.footer-link {
  color: #f4f6ff;
}
